main{
    display: flex;
    flex-direction: column;
    
}

.bg-projetos{
    display: flex;
    flex-direction: row;
    /* margin: 100px auto 100px auto; */
}

.bg-projetos p{
    background-color: rgb(159, 159, 129);
}

.teste, .teste div{
    border: 5px solid rgb(251, 118, 140);
}

.teste div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.teste img{
    width: 30px;
}